<center>
<iframe src="https://cr.synceg.net/coronafull" width="320" height="620" scroll="no" style="border:none; width: 100%; overflow:hidden; "></iframe>
<p>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a>
</p>
</center>