<iframe src="https://trinket.io/embed/python3/019bc2b804" width="100%" height="700" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
   <p>
<center>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a></center>
</p>
