<center>
<script>
   function replaceAccents()
   {
    var elem;var text = (elem = document.getElementById("txt")).value;
    elem.value = text.replace(new RegExp(String.fromCharCode(1600, 124, 1617, 124, 1614, 124, 1611, 124, 1615, 124, 1612, 124, 1616, 124, 1613, 124, 1618, 124), "g"), "");
    mycopy();
   }
   function mycopy()
   {
    document.getElementById("txt").select();
    document.execCommand("copy");
    document.getElementById("result").innerHTML ="تم نسخ النص إلى الذاكرة.";
   }
  </script>
  <br />
<h2>
   إزالة التشكيل من النصوص
  </h2>
<textarea cols="50" id="txt" rows="4">اك&#1618;ت&#1615;ب&#1618; أ&#1614;و&#1616; ال&#1618;ص&#1616;ق&#1618; ه&#1615;ن&#1614;ا الن&#1617;&#1614;ص&#1615; ال&#1618;م&#1615;ر&#1614;اد&#1615; إ&#1616;ز&#1614;ال&#1614;ة&#1615; الت&#1617;&#1614;ش&#1618;ك&#1616;يل&#1616; م&#1616;ن&#1618;ه&#1615;
ثم اضغط إزالة
  </textarea>
  <br />
<input onclick="replaceAccents()" type="button" value="إزالة" />
  <br />
<br />
<div id="result">
</div>
<br />
<script>

<p>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a>
</p>
</center>