<center>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<script type="a7ecc5fc5e1f5c87e99d7456-text/javascript">function gObj(obj) {
				var theObj;
				if(document.all){
					if(typeof obj=="string"){
						return document.all(obj);
					}else{
						return obj.style;
					}
				}
				if(document.getElementById){
					if(typeof obj=="string"){
						return document.getElementById(obj);
					}else{
						return obj.style;
					}
				}
				return null;
			}
			function trimAll(sString){
				while (sString.substring(0,1) == " "){
					sString = sString.substring(1, sString.length);
				}
				while (sString.substring(sString.length-1, sString.length) == " "){
					sString = sString.substring(0,sString.length-1);
				}
				return sString;
			}
			function EzharRislaitHob(inStr, isError){
				if (isError) inStr = "<font color=red>" + inStr + "</font>";
				gObj("lovecoutput").innerHTML = inStr;
			}
			function getNum(inChar){
				outputNum = 0;
				for (i=0;i<inChar.length;i++){
					outputNum += inChar.charCodeAt(i);
				}
				return outputNum;
			}
			function lovecalc(){
				EzharRislaitHob("جاري الحساب .....",true);
				hobnameone = trimAll(gObj("hobnameone").value);
				hobnametwo = trimAll(gObj("hobnametwo").value);
				if (hobnameone.length<1){
					EzharRislaitHob("يرجى كتابة الأسم الاول",true);
					return;
				}else if (hobnametwo.length<1){
					EzharRislaitHob("يرجى كتابة الأسم الثاني",true);
					return;
				}
				hobnameone = hobnameone.toLowerCase();
				hobnametwo = hobnametwo.toLowerCase();
				totalNum = getNum(hobnameone) * getNum(hobnametwo);
				NisbetAlTawafoq = totalNum % 100;

				NisbetAlTawafoq = "<font color=red><b> " + NisbetAlTawafoq + "%</b></font>";
				EzharRislaitHob(NisbetAlTawafoq, false);}</script>
<table width = 100%" align="center" dir="rtl"><form><tr><td width="402" align="center" valign="middle">
<font face="Tahoma" size="2" color="#FF0000">الأسم الاول :</font><br>
<input type="text" name="hobnameone" size="20" id="hobnameone" class="field" style="color: #000000; border-style: solid; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"></td><tr><td align="center" valign="middle">
<font face="Tahoma" size="2" color="#FF0000">الأسم الثاني </font>
<font color="#FF0000">:</font><br>
<input type="text" name="hobnametwo" size="20" id="hobnametwo" class="field" style="color: #000000; border-style: solid; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"></td><tr><td align="center" valign="middle"><p>
<input type="button" class="btn" value="  احسب نسبة الحب  " onclick="if (!window.__cfRLUnblockHandlers) return false; lovecalc()" style="color: #000000; background-color: #C0C0C0" data-cf-modified-a7ecc5fc5e1f5c87e99d7456-="" />
أو
<input name="Reset" type="reset" class="btn" onclick="if (!window.__cfRLUnblockHandlers) return false; reset" value="  مسح  " style="color: #000000; background-color: #C0C0C0" data-cf-modified-a7ecc5fc5e1f5c87e99d7456-="" /> <br /></p></td><tr><td align="center" valign="middle"><h3><strong>
</strong></h3><div id="lovecoutput" style="font-size:36px; font-family:Arial, Helvetica, sans-serif; font-weight:700; text-align:center;" dir="rtl"></div></td></form><script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="a7ecc5fc5e1f5c87e99d7456-|49" defer=""></script>
<p>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a>
</p>
</center>
