<center>
<div class="password-generator">
  <h1>Password Generator</h1>
  <p class="password-generator__textbox"></p>
  <div class="password-generator__form-item">
    <label for="password-length">Password length</label>
    <input type="number" id="password-length" class="password-generator__input" value="10" max="35" />
  </div>
  <div class="password-generator__form-item">
    <label for="uppercase-letters">Include uppercase letters</label>
    <input type="checkbox" name="uppercase" id="uppercase-letters" class="password-generator__checkbox" checked />
  </div>
  <div class="password-generator__form-item">
    <label for="lowercase-letters">Include lowercase letters</label>
    <input type="checkbox" name="lowercase" id="lowercase-letters" class="password-generator__checkbox" />
  </div>
  <div class="password-generator__form-item">
    <label for="numbers">Include numbers</label>
    <input type="checkbox" name="numbers" id="numbers" class="password-generator__checkbox" />
  </div>
  <div class="password-generator__form-item">
    <label for="symbols">Include symbols</label>
    <input type="checkbox" name="symbols" id="symbols" class="password-generator__checkbox" />
  </div>
  <button class="password-generator__button">
                Generate Password
            </button>
</div>
<style>
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #3caea3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    width: 190px;
    color: #fff;
}

input[type="number"] {
    width: 45px;
    border: none;
    padding: 0.25rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.password-generator {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: #20639b;
    padding: 2rem 2.5rem;
    -webkit-box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.25);
    border: 3px solid #173f5f;
}

.password-generator h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
}

.password-generator__form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.password-generator__button {
    border: 2px solid #173f5f;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #3caea3;
    color: #173f5f;
    font-size: 1.35rem;
    cursor: pointer;
    transition: background-color 0.35s ease-in-out;
}

.password-generator__button:hover {
    background-color: #173f5f;
    color: #fff;
}

.password-generator__textbox {
    background-color: #173f5f;
    margin-bottom: 1rem;
    padding: 1rem 0.75rem;
    color: #fff;
    font-weight: 600;
    min-height: 50px;
}

</style>
<script src=""></script>
<script type="text/javascript">// DOM Elements
const output = document.querySelector(".password-generator__textbox"),
    length = document.querySelector("#password-length"),
    checkboxes = [...document.querySelectorAll("input[type='checkbox']")],
    generateButton = document.querySelector(".password-generator__button");

const characters = {
    uppercase: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
    lowercase: "abcdefghijklmnopqrstuvwxyz",
    numbers: "0123456789",
    symbols: '!;,.%/(){}#+-:_"@|`$=*^[]?&~'
};

function generatePassword() {
    let password = "",
        passwordLength = length.value,
        selection = "";

    checkboxes.forEach(checkbox => {
        if (checkbox.checked) {
            selection += characters[checkbox.name];
        }
    });

    if (!selection) {
        output.innerHTML = "Please select character type";
    } else {
        for (let i = 0; i < passwordLength; i++) {
            password += selection[Math.floor(Math.random() * selection.length)];
        }

        output.innerHTML = password;
    }
}

generateButton.addEventListener("click", generatePassword);
</script> 

<p>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a>
</p>
</center>

