

<title>PayPal Fee Calculator</title>
<link rel="stylesheet" type="text/css" href="ppfc.css">
<style type="text/css">
<!--
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.style5 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
min-height:500px;
-->
</style>
<script type="text/javascript" charset="utf-8">
	addEventListener('load', function() {
		setTimeout(hideAddressBar, 0);
	}, false);
	function hideAddressBar() {
		window.scrollTo(0, 1);
	}
</script>
<script type="text/javascript">
/* <![CDATA[ */

var isMSIE = /*@cc_on!@*/false;

var mode = 'flag_united_states';

function rate_changed(new_mode) {
 if ((typeof new_mode == 'string') && (new_mode.substr(0,5) == 'flag_')) { mode = new_mode; }
 var cb = document.forms['ppcalc_form'].elements['crossborder_checkbox'].checked;
 if (mode == 'flag_united_states') { set_pp_rate((cb)?'3.9':'2.9','0.30','$','USD'); }
 if (mode == 'flag_canada') { set_pp_rate((cb)?'3.9':'2.9','0.30','$','CAD'); }
 if (mode == 'flag_united_kingdom') { set_pp_rate((cb)?'3.9':'3.4','0.20','&pound;','GBP'); }
 if (mode == 'flag_europe') { set_pp_rate((cb)?'3.9':'3.4','0.35','&euro;','EUR'); }
 if (mode == 'flag_france') { set_pp_rate((cb)?'3.4':'3.4','0.25','&euro;','EUR'); }
 if (mode == 'flag_germany') { set_pp_rate((cb)?'3.9':'1.9','0.35','&euro;','EUR'); }
 if (mode == 'flag_australia') { set_pp_rate((cb)?'3.4':'2.4','0.30','$','AUD'); }
 if (mode == 'flag_japan') { set_pp_rate((cb)?'3.9':'3.4','40','&yen;','JPY'); }
 if (mode == 'flag_czech_republic') { set_pp_rate((cb)?'3.9':'3.4','10','','CZK'); }
 if (mode == 'flag_hungary') { set_pp_rate((cb)?'3.9':'3.4','90','','HUF'); }
 if (mode == 'flag_poland') { set_pp_rate((cb)?'3.9':'3.4','1.35','','PLN'); }
 if (mode == 'flag_denmark') { set_pp_rate((cb)?'3.9':'3.9','2.60','','DKK'); }
 if (mode == 'flag_norway') { set_pp_rate((cb)?'3.9':'3.9','2.80','','NOK'); }
 if (mode == 'flag_sweden') { set_pp_rate((cb)?'3.9':'3.9','3.25','','SEK'); }
 if (mode == 'flag_switzerland') { set_pp_rate((cb)?'3.9':'3.4','0.55','','CHF'); }
 if (mode == 'flag_singapore') { set_pp_rate((cb)?'3.4':'3.4','0.50','$','SGD'); }
 if (mode == 'flag_hong_kong') { set_pp_rate((cb)?'3.4':'3.4','2.35','$','HKD'); }
 if (mode == 'flag_new_zealand') { set_pp_rate((cb)?'3.9':'3.4','0.45','$','NZD'); }
 RPPCalculate(1);
 PPCalculate();
}

function get_float(string) {
 string = string.replace(",", "").replace("$", "");
 var to_return = parseFloat(string);
 if (typeof to_return == 'undefined') { to_return = 0.00; }
 if (isNaN(to_return)) { to_return = 0.00; }
 to_return = (to_return/100)*100;
 return to_return;
}

function get_key_code(e) {
 if (typeof e == "undefined") { e = window.event; }
 if (e.keyCode) { return e.keyCode; }
 else if (e.which) { return e.which; }
 else { return e.charCode; }
}

function has_selection(ele) {
 var txt='',len=0,start=0,end=0;
 if (document.selection) { txt = document.selection.createRange().text; }
 else if (window.getSelection) { txt = window.getSelection(); }
 else if (document.getSelection) { txt = document.getSelection(); }
 else { return false; }
 if (ele.selectionStart) { start = ele.selectionStart; }
 if (ele.selectionEnd) { end = ele.selectionEnd; }
 len = end - start;
 if (len > 0) { return true; }
 else if (typeof txt == "undefined") { return false; }
 else if (isNaN(txt)) { return false; }
 else if (txt.length > 0) { return true; }
 else { return false; }
}

function textbox_onkeypress(e) {
 if (typeof e == "undefined") { e = window.event; }
 var keycode = get_key_code(e);
 var to_return = true;
 switch (keycode) {
  case 8: // backspace
   break;
  case 9: // tab
   break;
  case 13: // enter
   break;
  case 17: case 86: // CTRL-V
   break;
  case 37: case 39: break; // left arrow, right arrow
  case 38: // up arrow
   if (this.value != '') { this.value = (get_float(this.value) + 0.5).toFixed(2); }
   break;
  case 40: // down arrow
   if (get_float(this.value) >= 0.5) { this.value = (get_float(this.value) - 0.5).toFixed(2); }
   else { this.value = '0.00'; }
   if (this.id == 'to_receive') { RPPCalculate(); }
   else if (this.id == 'if_you_receive') { PPCalculate(); }
   break;
  case 46: // period (.) was pressed
   if (this.value.indexOf(".") != -1) { // there is already a (.) in there
    if (has_selection(this) == false) { to_return = false; } // no good
   }
   break;
  case 48: case 49: case 50: case 51: case 52: case 53: case 54: case 55: case 56: case 57:
   if ((this.id != 'paypal_fee_percent')) {
    if ( this.value.length >= 3) {
     if ( this.value.substr(this.value.length - 3, 1) == '.' ) {
      if (has_selection(this) == false) { to_return = false; } // no good
     }
    }
   }
   break;
  default:
   to_return = false;
 } // end switch
 if ((!e.which) && (keycode == 46)) { to_return = true; } // allow delete
 if ((typeof e.which == "undefined") && (keycode == 46) && (this.value.indexOf(".") != -1) && (has_selection(this) == false)) { to_return = false; }
 e.returnValue = to_return;
 return to_return;
}

function set_pp_rate(percent,fixed,sign,name){
 document.forms['ppcalc_form'].elements['paypal_fee_percent'].value = percent;
 document.forms['ppcalc_form'].elements['paypal_fee_fixed'].value = fixed;
 document.getElementById('currency_sign').innerHTML = sign;
 document.getElementById('currency_name').innerHTML = name;
 document.getElementById('currency_symbol_1').innerHTML = sign;
 document.getElementById('currency_symbol_2').innerHTML = sign;
 document.getElementById('currency_symbol_3').innerHTML = sign;
 document.getElementById('currency_symbol_4').innerHTML = sign;
 document.getElementById('currency_symbol_5').innerHTML = sign;
}

function figure_fees(item_price, fee_percentage, fixed_fee) {
 var the_fee_percentage = fee_percentage / 100;
 the_fee_percentage = the_fee_percentage.toFixed(4);
 the_fee_percentage = get_float(the_fee_percentage);
 var to_return = item_price * the_fee_percentage + fixed_fee;
 to_return = Math.round(to_return*100)/100;
 to_return = to_return.toFixed(2);
 to_return = get_float(to_return);
 if (to_return > item_price) { to_return = item_price; }
 return to_return;
}

function PPCalculate() {
 if (document.forms['ppcalc_form'].elements['if_you_receive'].value != '') {
  var amount_sent = get_float(document.forms['ppcalc_form'].elements['if_you_receive'].value);
  if (amount_sent == 0) { document.forms['ppcalc_form'].elements['paypal_fees'].value = document.forms['ppcalc_form'].elements['you_would_receive'].value = '0.00'; }
  else {
   var the_paypal_fees = figure_fees(amount_sent, get_float(document.forms['ppcalc_form'].elements['paypal_fee_percent'].value), get_float(document.forms['ppcalc_form'].elements['paypal_fee_fixed'].value));
   document.forms['ppcalc_form'].elements['paypal_fees'].value = the_paypal_fees.toFixed(2);
   var amount_after_fees = amount_sent - get_float(document.forms['ppcalc_form'].elements['paypal_fees'].value);
   if (amount_after_fees < 0) { amount_after_fees = 0; }
   document.forms['ppcalc_form'].elements['you_would_receive'].value = amount_after_fees.toFixed(2);
  }
 }
 else {
  document.forms['ppcalc_form'].elements['paypal_fees'].value = '';
  document.forms['ppcalc_form'].elements['you_would_receive'].value = '';
 }
}

function RPPCalculate(src) {
 if (document.forms['ppcalc_form'].elements['to_receive'].value != '') {
  var desired_amount = get_float(document.forms['ppcalc_form'].elements['to_receive'].value);
  if (desired_amount == 0) { document.forms['ppcalc_form'].elements['a_person_would'].value = '0.00'; }
  else {
   var a_person_must_send = (desired_amount + get_float(document.forms['ppcalc_form'].elements['paypal_fee_fixed'].value)) / (1 - (get_float(document.forms['ppcalc_form'].elements['paypal_fee_percent'].value)/100).toFixed(4));
   document.forms['ppcalc_form'].elements['a_person_would'].value = a_person_must_send.toFixed(2);
   document.forms['ppcalc_form'].elements['if_you_receive'].value = document.forms['ppcalc_form'].elements['a_person_would'].value;
   PPCalculate();
  }
 }
 else {
  if (src != 1) {
   document.forms['ppcalc_form'].elements['a_person_would'].value = '';
   document.forms['ppcalc_form'].elements['if_you_receive'].value = '';
  }
  PPCalculate();
 }
}

if (window.addEventListener) { window.addEventListener("load", window_onload, false); }
else if (window.attachEvent) { window.attachEvent("onload", window_onload); }

function window_onload() {
 document.forms['ppcalc_form'].elements['to_receive'].onkeypress = textbox_onkeypress;
 document.forms['ppcalc_form'].elements['if_you_receive'].onkeypress = textbox_onkeypress;
 document.forms['ppcalc_form'].elements['paypal_fee_percent'].onkeypress = textbox_onkeypress;
 document.forms['ppcalc_form'].elements['paypal_fee_fixed'].onkeypress = textbox_onkeypress;
 document.forms['ppcalc_form'].elements['to_receive'].onkeyup = RPPCalculate;
 document.forms['ppcalc_form'].elements['if_you_receive'].onkeyup = PPCalculate;
 document.forms['ppcalc_form'].elements['crossborder_checkbox'].onclick = rate_changed;
 for (var i=0;i<document.images.length;i++) {
  if (document.images[i].id.substring(0,5) == 'flag_') {
   document.images[i].onclick = function(){ rate_changed(this.id); };
   if (isMSIE) { document.images[i].src = 'ie_images/' + document.images[i].id + '.gif'; }
  }
  else if (document.images[i].id.substring(0,14) == 'question_mark_') {
   if (isMSIE) { document.images[i].src = 'ie_images/question_mark_icon.gif'; }
  }
 }
 document.forms['ppcalc_form'].elements['to_receive'].focus();
}

var mouse_is_over_other_fee_calcs=false;
var mouse_is_over_other_calcs=false;

function other_fee_calcs_onmouseover() {
 mouse_is_over_other_fee_calcs=true;
 mouse_is_over_other_calcs=false;
 document.getElementById('other_calcs').style.visibility='visible';
 document.getElementById('other_calcs').focus();
}

function other_fee_calcs_onmouseout() {
 mouse_is_over_other_fee_calcs=false;
 setTimeout('if((mouse_is_over_other_fee_calcs==false)&&(mouse_is_over_other_calcs==false)){document.getElementById(\'other_calcs\').style.visibility=\'hidden\';}',75);
}

function other_calcs_onmouseover() {
 mouse_is_over_other_calcs=true;
 mouse_is_over_other_fee_calcs=false;
}

function other_calcs_onmouseout() {
 mouse_is_over_other_calcs=false;
 setTimeout('if((mouse_is_over_other_fee_calcs==false)&&(mouse_is_over_other_calcs==false)){document.getElementById(\'other_calcs\').style.visibility=\'hidden\';}',75);
}

/* ]]> */
</script>
</head>
<br />
<form id="ppcalc_form" action="" method="post">
  <table border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;margin-left:auto;margin-right:auto">

<tr>
<td style="vertical-align:top;">

<!-- Reverse PayPal Fee Calculator Box --></td>
<td style="width:27px"></td>
<td style="vertical-align:top">

<!-- PayPal Fee Calculator Box --></td>
</tr>
</table>



<!-- PayPal Fee Rate Box -->
<div id="paypal_fee_rate_div" class="bg">
  <table width="230" border="0" align="center" cellpadding="0" cellspacing="0" class="bg">
  <tr>
    <td colspan="3" class="head style3 style8"><div align="center" class="style5"><strong>Reverse PayPal Fee Calculator</strong></div></td>
  </tr>
  <tr>
    <td class="left top"><span class="style10">
      <label for="to_receive"><span class="style5">To receive this<br />
      amount (after fees):</span></label>
    </span></td>
    <td class="mid top" valign="bottom"><span class="style5" id="currency_symbol_1">$</span></td>
    <td class="right top" valign="bottom"><input name="to_receive" type="text" class="text_box " id="to_receive" size="6" /></td>
  </tr>
  <tr>
    <td class="left"><span class="style10">
      <label for="a_person_would" class="style5">A person would<br />
      have to send you:</label>
    </span></td>
    <td class="mid" valign="bottom"><span class="style5" id="currency_symbol_2">$</span></td>
    <td class="right" valign="bottom"><input name="a_person_would" type="text" class="text_box " id="a_person_would" size="6" readonly="readonly" /></td>
  </tr>
  <tr>
    <td colspan="3" class="bottom"></td>
  </tr>
</table>
  <br />
    <table width="260" border="0" align="center" cellpadding="0" cellspacing="0" class="bg">
  <tr>
    <td colspan="3" class="head style3 style8"><div align="center" class="style5"><strong>PayPal Fee Calculator</strong></div></td>
  </tr>
  <tr>
    <td class="left top"><span class="style5">
      <label for="if_you_receive">If a person sends you:</label>
    </span></td>
    <td class="mid top"><span class="style5" id="currency_symbol_3">$</span></td>
    <td class="right top"><input name="if_you_receive" type="text" class="text_box " id="if_you_receive" size="6" /></td>
  </tr>
  <tr>
    <td class="left"><span class="style5">
      <label for="paypal_fees">Your PayPal fees would be:</label>
    </span></td>
    <td class="mid"><span class="style5" id="currency_symbol_4">$</span></td>
    <td class="right"><input name="paypal_fees" type="text" class="text_box " id="paypal_fees" size="6" readonly="readonly" /></td>
  </tr>
  <tr>
    <td class="left"><span class="style10">
      <label for="you_would_receive" class="style5">And you would receive:</label>
    </span></td>
    <td class="mid"><span class="style5" id="currency_symbol_5">$</span></td>
    <td class="right"><input name="you_would_receive" type="text" class="text_box " id="you_would_receive" size="6" readonly="readonly" /></td>
  </tr>
  <tr>
    <td colspan="3" class="bottom"></td>
  </tr>
</table>
    <br />
    <div align="center" class="style6">Enter your PayPal fee rate below:</div>
<table border="0" cellpadding="0" cellspacing="5" align="center">

<tr>
<td><input type="text" class="text_box text_box_percent" name="paypal_fee_percent" id="paypal_fee_percent" size="3" value="2.9" onKeyUp="PPCalculate();RPPCalculate(1);" /></td>
<td><label for="paypal_fee_fixed"><span class="style5">%&nbsp;&nbsp;+&nbsp;&nbsp;<span id="currency_sign">$</span></span></label></td>
<td><input type="text" class="text_box text_box_percent" name="paypal_fee_fixed" id="paypal_fee_fixed" size="4" value="0.30" onKeyUp="PPCalculate();RPPCalculate(1);" /></td>
<td><span class="style3"> <span class="style13">
  <label for="paypal_fee_fixed" class="style5" id="currency_name">USD</label>
</span> </span></td>
<td style="padding-bottom:3px"><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_display-fees-outside" class="style5" style="font:normal 10px verdana,sans-serif" onClick="return !window.open(this.href)">help me decide</a></td>
</tr>
</table>
</div>

<table width="294" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>

 <td style="padding-right:5px"><div style="visibility: hidden;"><input type="checkbox" name="crossborder_checkbox" id="crossborder_checkbox" /></div></td>
 <td style="text-align:left"><label for="crossborder_checkbox" class="style5">
    <p>
<center>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a></center>
</p>

</center>
</body>
</html>
