<center>
<div class="nametag">
  <div> Name Is...</div>
  <div id="name">?</div>
  <div></div>
</div>
<button id="newname" class="newname">Click For A New Name</button>
<style>
* 
  box-sizing: border-box
  
body
  background: #787985
  
.nametag
  width: 350px
  margin-left: auto
  margin-right: auto
  margin-top: 25px
  transform: rotate(-3deg)
  box-shadow: 1px 1px 3px #343434
  div:nth-of-type(1)
    width: 100%
    padding: 5px
    text-align: center
    font: 28pt "Impact", sans-serif
    background: #fd7a78
    color: #fafafa
    letter-spacing: 1px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    i
      display: block
      font: 12pt "Helvetica", sans-serif
      font-style: italic
  div:nth-of-type(2)
    width: 100%
    background: #fafafa
    padding: 10px
    font: 24pt "Comic Sans MS", "Chalkduster", cursive, sans-serif
    text-align: center
    font-weight: bold
    letter-spacing: -1px
  div:nth-of-type(3)
    width: 100%
    padding: 5px
    text-align: center
    font: 28pt "Impact", sans-serif
    background: #fd7a78
    color: #fafafa
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    
.newname
  display: block
  width: 250px
  background: #fafafa
  color: #787985
  margin-left: auto
  margin-right: auto
  margin-top: 50px
  font: 14pt "Helvetica", sans-serif
  border: none
  border-radius: 5px
  cursor: pointer
  padding: 15px
  box-shadow: 1px 1px 3px #343434
  transition: all 0.5s
  &:hover
    box-shadow: 0px 0px 0px #fff
    background: #eaeaea
  &:active
    background: #cacaca
    letter-spacing: -2px
    width: 200px
    
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script type="text/javascript">const firstNameParts = ["Al", "Le", "Co", "Ja", "Ki", "Qu", "Am", "Kw", "Ch", "Th", "Ph", "Ru"]
const otherNamePartsNonVowel = ["ic", "el", "at", "al", "ol", "ur", "ac", "in", "un", "ew", "ap", "az", "ar", "er", "ot", "el"]
const otherNamePartsVowel = ["le", "co", "ja", "ki", "pi", "ni", "wi", "te", "ka", "ma", "re", "ha", "qu", "hi", "he", "we", "ra", "tr", "ch", "th", "ph", "ss"]

$("#newname").click(function(){
  const numNameParts = _.random(1, 4)
  var randName = firstNameParts[_.random(0, firstNameParts.length - 1)]
  for (var i = 0; i < numNameParts; i++) {
    var newNamePart = ""
    if (/[^aeiou]/.test(randName[randName.length - 1])) {
      newNamePart = otherNamePartsNonVowel[_.random(0, otherNamePartsNonVowel.length - 1)]
    }else{
      newNamePart = otherNamePartsVowel[_.random(0, otherNamePartsVowel.length - 1)]
    }
    randName += newNamePart
  }
  $("#name").html(randName)
})</script> 
<p>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a>
</p>
</center>
