<div id="sbox">
			<div id="sboxlogo" class="en"></div>
			<div id="sboxinside" style="margin-top: 10px;">

				<form action="https://translate.systran.net/translationTools/text" method="get" target="_blank" id="sbxfrm" enctype="application/x-www-form-urlencoded">
					<fieldset>
						<div id="toolbar">
							<select id="source" name="source" title="Source Language" onchange="languageSelection.selectSource(this.value)" data-select2-id="source" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
								
							<option value="ar">Arabic</option><option value="zh">Chinese</option><option value="nl">Dutch</option><option value="en" data-select2-id="8">English</option><option value="fr">French</option><option value="de">German</option><option value="el">Greek</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="ko">Korean</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="ru">Russian</option><option value="es">Spanish</option><option value="sv">Swedish</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 68px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" title="Source Language" tabindex="0" aria-labelledby="select2-source-container"><span class="select2-selection__rendered" id="select2-source-container" role="textbox" aria-readonly="true" title="English">English</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
							<img id="swap_btn" class="swap" src="https://www.systransoft.com/wp-content/sbox/sbox-swaplp-normal.gif" alt="Swap source and target languages" title="Swap source and target languages" onmouseover="btnHover(this);" onmouseout="btnNormal(this);" onmousedown="btnPressed(this);" onmouseup="btnHover(this);">
							<select id="target" name="target" title="Target Language" onchange="languageSelection.selectTarget(this.value)" data-select2-id="target" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
								
							<option value="ar" data-select2-id="9">Arabic</option><option value="zh">Chinese</option><option value="nl">Dutch</option><option value="fr">French</option><option value="de">German</option><option value="el">Greek</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="ko">Korean</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="ru">Russian</option><option value="es">Spanish</option><option value="sv">Swedish</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 66px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" title="Target Language" tabindex="0" aria-labelledby="select2-target-container"><span class="select2-selection__rendered" id="select2-target-container" role="textbox" aria-readonly="true" title="Arabic">Arabic</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
						<textarea name="input" id="textbox" rows="4" cols="40"></textarea>
						<p id="please" style="display:none;">URL:</p>
						<input id="webbox" type="text" value="http://" style="display:none;" onkeypress="return noenter()" class="displayNone">
						<div class="center"><a class="btn-lp sbox" href="javascript:void(0);" onclick="sboxGo('https://translate.systran.net/translationTools/web');" title="Instant Translation">Instant Translation</a></div>
					</fieldset>
				</form>
			</div>
		</div>
        		<!-- CODE BLOC TRADUCTION -->
		<!-- sbox -->
		<script type="text/javascript">/*<![CDATA[*/var img_names = new Array('text','web');  /*]]>*/</script>
		<script type="text/javascript" id="localescript">var locale = "en";</script>
		<script type="text/javascript" src="/wp-content/sbox/events.js"> </script>
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/lib.js"> </script>
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/localization.en.js" id="localization"> </script>
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/systranUtils.js"> </script>
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/languagePairs.js"> </script>
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/languagePairSelection.js"> </script>
		<script type="text/javascript">/*<![CDATA[*/
		var urlmode = "window";
		var languagePairs = new LanguagePairs(new Array('fr_en','it_fr','sv_en','pt_fr','zh_en','ru_en','es_en','el_en','en_ar','de_fr','it_es','pt_es','fr_de','pt_en','fr_pt','fr_el','es_it','el_fr','fr_it','pt_it','es_fr','ar_en','en_pt','en_pl','nl_en','en_ko','ko_en','fr_es','pl_en','en_de','en_zh','es_pt','en_fr','en_sv','it_en','ja_en','en_el','nl_fr','it_pt','fr_nl','de_pt','en_it','de_it','it_de','de_en','pt_de','es_de','en_ru','en_ja','en_es','de_es','en_nl'));

		// var onInitLps = null;
		// function initlps() {
		// 	languageSelection = new LanguagePairSelection(document.getElementById("source"),document.getElementById("target"),null,null);
		// 	if(document.getElementById("profile")) { selectProfile(document.getElementById("profile").value); }
		// 	if(onInitLps) { onInitLps(); }
		// 	jQuery("#source").select2("val",jQuery("#source").val());
		// 	jQuery("#target").select2("val",jQuery("#target").val());
		// }
		// addPageLoadListener(initlps);

		/*]]>*/</script> 
		<script type="text/javascript" src="https://www.systransoft.com/wp-content/sbox/sbox.js"> </script>
		<!-- end sbox -->
        <p>
<center>
<a href="https://www.mwsw3ti.site/" target="_blank" title="home">موقع موسوعتى</a></center>
</p>

<style>
.home #sbox {
    background: #d8dfe2;
    border: 1px solid #c8d0d4;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#sbox {
    background: #d8dfe2;
    border: 1px solid #c8d0d4;
    margin-top: 10px;
    -webkit-border-radius: 1px!important;
    -moz-border-radius: 1px!important;
    -ms-border-radius: 1px!important;
    -o-border-radius: 1px!important;
    border-radius: 1px!important;
}
a.btn-lp.sbox:hover {
    text-decoration: none;
}
a.btn-lp.sbox {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}
.btn-lp:hover {
    background-color: #fff;
    color: #064f64;
    border-color: #064f64;
}
a:hover {
    text-decoration: underline;
}
.btn-lp {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #064f64;
    border: 1px #fff solid;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-family: DinBold;
    letter-spacing: -.5px;
    padding: 15px 30px;
    margin: 10px auto;
}
a {
    color: #009cd3;
    text-decoration: none;
}
a {
    color: #525252;
    line-height: 12px;
    text-decoration: none;
}
</style>

